
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Open+Sans:ital,wght@1,300&family=Permanent+Marker&display=swap');




body{
    background-color: #eca;
}

h1{     
    font-family: 'Fascinate Inline', cursive;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;


}
cite{
    text-decoration: underline;
}
.intro{
    text-align: center;
}
.latin{
    font-family: 'Permanent Marker', cursive;
    font-size: 1.2em;
}
.español{
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1.5em;
}