body{
    background: #C6D9EE;
    font-family: Verdana,sans-serif;
    text-align: justify;
}

h1{
  font-size: 3em;
  text-align: right;
  
}
h2{
  
  font-family:'Courier';
  font-size: 3em;
  font-variant: small-caps;
}
p{
  line-height: 200%;
  text-indent: 3em;
}

.comic{
  color:red;
  font-size: 1.2em;
  font-family: "Comic Sans", cursive;
}


time{
  color:darkorange;
}
em{
  color: green;
  background-color: white;
}
strong{
  color:chocolate;
}