html 
{
    font-size: 18px; 
    font-family: "Open Sans", sans-serif; 
}

h1
{
    color: #BD0003;
    text-transform:uppercase;
    text-align: center;
    margin: 0;
    text-shadow: 3px 3px 1px black;
    font-size: 70px;
}

h2
{
    background-color:#BD0003;
    color:white;
}

h3
{
    background-color: #fd7b7b;
    color: white;
}

h4
{
   text-align: center;
}


.botonIzquierdo
{
   color:  white;
   border-radius: 10px;
   text-align: left;
   text-decoration: none;
   width: auto;
   background-color: #f9d5e5;
   border:#e06377 3px solid;
   font-weight: bolder ;
   margin-right: 90%;
 

}

body
{
    background-color: f6f6f6;
    margin:5%;
}

th
{
    background-color: #EAECF0;
    border: 1px solid  #ccc;
}
td
{
   border: 1px solid  #ccc;
}

table
{
   margin: auto;
   border-collapse: collapse;
   width: 20%;
}

tfoot
{
    text-align: center;
}

tbody tr:nth-child(even) 
{ 
    background :#FFFFCC;
}
        
tbody tr:nth-child(odd) 
{ 
    background: #FF6400;
            
}

 footer
 {
    text-align: right;
    color: white;
    background-color: black;
 } 
   
 img.izquierda
 {
    text-align: left;
 }

 img.derecha
 {
   margin-left: 10%;
   
 }

 img
 {
    border: 3px dotted black;
 }
 img.centrado
 {
    margin-left: 4.5%;
    margin-right: 4.5%;
 }

 .centradoHidro
 {
   margin-left: 35%;
   margin-right: 35%;

 }

 .centradoLaboral
 {
    margin-left: 20%;
    margin-right: 20%;

 }

 .izquierdaLaboral
 {
    margin-left: 20%;

 }

.derechaLaboral
{
    margin-right: 5%;

}

 a
 {
    color:#c83349;
    text-decoration: none;
    font-weight: bolder;
   
 }

 ol
 {
    color:#c83349;
    font-weight: bolder;

 }
 
 ul
 {
    font-weight: bolder;

 }
 
 
 .indice
 {
    margin-right: 75%;
    margin-left: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: start;
    background-color: #f9d5e5;
    border: 3px dotted #c83349;
 }
 .derecha2
 {
    margin-left: 93%;
 }

 .derecha2Laboral
 {
    margin-left: 91%;
 }

 a:hover 
 {
    background-color: #eeac99;
    border:#e06377 3px solid;
   
 }
 
p.importante::first-letter
{
    font-size: 2em;
}


 